* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 246, 232);
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
}

/* Variáveis principáis */

:root {
  /* Cores  */
  --laranja: #f56e00;
  --ciano: #005e75;
}

/* Estilos gerais  */

body {
  /* background-color: black; */
  background: linear-gradient(black, var(--ciano));
}

.conteiner {
  width: 100vw;
}

.pagina {
  width: 100%;
  height: 100vh;
}

/* primeira página */

.inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.titulo {
  width: 50%;
  margin-left: 80px;
}

.titulo h1 {
  font-size: 60pt;
  font-family: "Caudex";
}

.titulo h2 {
  font-family: "Caudex";
  margin-bottom: 15px;
  border-left: 5px double var(--ciano);
  padding-left: 5px;
}

.titulo p {
  font-size: 40pt;
}

.italico {
  color: var(--laranja);
  font-style: italic;
  font-family: "Courgette", cursive;
}

.sublinhado {
  text-decoration: underline;
}

.foto-pessoal {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.foto-pessoal img {
  width: 80%;
  max-width: 700px;
  margin-right: 80px;
  border-radius: 10px;
  border: 1px solid #f56e003b;
}

/* segunda página  */

.oque-fiz {
}

.oque-fiz h1 {
  font-family: "Caudex";
  font-size: 40pt;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.projetos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem;
}

.projetos .card {
  background-color: #005e7554;
  padding: 1rem;
  height: 400px;
  flex: 0 1 30%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 20px #005e7554;
}

.carrossel-ferramentas {
  display: flex;
  overflow: hidden;
  height: 80px;
  align-items: center;
  box-shadow: 0 0 30px #005e75;
}

.grupo .card {
  padding: 70px;
  /* border-right: 1px solid var(--ciano); */
}

.card img {
  flex: 0 0 5em;
  height: 60px;
}

.card:hover {
  background-color: #005e75;
  transition:
    background-color 0.7s ease,
    transform 0.7s ease;
}

.track {
  display: flex;
  animation: scroll 50s linear infinite;
}

.grupo {
  gap: 1rem;
  display: flex;
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
