* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 246, 232);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Variáveis principáis */

:root {
  /* Cores  */
  --laranja: #f56e00; 
  --ciano: #005e75;
}

/* Estilos gerais  */

body {
  /* background-color: black; */
  background: linear-gradient(black, var(--ciano));
  
}

.conteiner {
  width: 100vw;
}

.pagina {
  width: 100%;
  height: 100vh;
}
/* barra de atalhos  */

.barra-de-atalhos {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(252, 252, 252, 0.041);
  display: flex;
  width: 70%;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #000000a9;
  backdrop-filter: blur(5px);
  
}

.barra-de-atalhos a {

}

/* primeira página */
/* primeira página */

/* primeira página */

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.titulo {
    width: 50%;
    margin-left: 80px;
}

.titulo h1 {
  font-size: 60pt;
}

.titulo p {
  font-size: 40pt;
}

.italico {
  color: var(--laranja);
  font-style: italic;
  font-family: "Courgette", cursive;
}

.foto-pessoal {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.foto-pessoal img {
    width: 80%;
    max-width: 700px;
    margin-right: 80px;
    border-radius: 10px;
    border: 1px solid #f56e003b;
}

/* segunda página  */

.quem-sou{

}

